<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.denisimusIT.imageGalleryAndGIFGenerator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screean.viewAddedImages.PicturesList"></activity>
        <activity android:name=".screean.signUp.Register" />
        <activity android:name=".screean.generateGIF.GIFImagesGeneration" />
        <activity android:name=".screean.addNewImage.UploadNewPicture" />
        <activity android:name=".screean.signIn.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>